<form action="/items" method="post">
  <label for="description">Add a new job listing!</label>
  <input id="title" name="title" type="text">
  <input id="description" name="description" type="text">
  <input id="contactInfo" name="contactInfo" type="text">
  <button type="submit">Submit</button>
</form>